
/* Custom Theme */
$color-brand: #2857c2;
$color-brand-light: #5e81d1;
$color-brand-dark: #20469b;


$prefix: 'dong';

$base-z-index: 1500;

$color: #2857c2; // 主题色
$primary-color: #2857c2; // 主题色
$sub-color-gray: #BFBFBF; // 辅助色
$sub-color-gray-light: #F2F2F2; // 辅助色
$sub-color-blue: #E9EEF8; // 辅助色

//======== 字体颜色 ========
$text-color: #1D1D1D; // 文本
$subtext-color: #2c2c2c; // 标题
$title-color: #1D1D1D; // 标题
$subtitle-color: #2E2E2E; // 副标题
$content-color: #3c3c3c; // 内容

//======== 背景色 ========
$bg: #F7F7F7; // 背景色
$bg-color: #fff; // 背景色

//======== 字体大小 ========
$subtitle-size: 30px; // 副标题
$content-size: 24px; // 内容

// 边框
$default-border: 1px solid #E5E5E5;
$default-border-1px: 1px solid #E5E5E5;

// =======   btn color =====
$red-btn: #FB6563;
$grey-btn: #BFBFBF;
